/* You can add global styles to this file, and also import other style files */

.navbar.is-orange {
    background-color: #ffc100;
    color: #fff;
}

#div-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

#div-text1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
}