/* You can add global styles to this file, and also import other style files */

.navbar.is-orange {
    background-color: #ffc100;
    color: #fff;
}

#div-indent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

#div-no-indent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
}

#text-isbold {
    font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#box {
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 165px;
    height: 25px;
    margin-right: 10px;
}